* {
    box-sizing: border-box;
    color:rgb(255, 255, 255);/*definit la couleur des textes*/
    font-family:'Lobster','Verdana', 'sans-serif';
    text-align: center;
    background-color: rgb(255, 255, 255)
  }
  html, body{ /*assurer qu'ils prennent toute la fenetre(par defaut non)*/
    width: 99%;
    height: 100%;
}

/* For mobile phones: */
body [class*="col-"] {
    width: 100%;
    display: none;
}
a{
    text-decoration: none;
    background-color: black;
}
  
.flex-container {
    width: 100%;
    height: auto;
    display:flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    background-color: black;
    margin: 0 auto 0 auto 0;
}

.flex-container > div { 
    margin: 10px;
    padding: 20px;
    font-size: 15px;
    background-color: black;
}

.fa-solid {
    background-color: black;
    color:white;
}

.flex-container > .nom{
    margin-right: auto;
    text-transform: uppercase;
    font-style:oblique;
    font-size: 1.5em;
}

.conteneur{
    width: 100%;
    height: auto;
    /*margin: 50px auto 0 auto; /*top right down left*/
    background-color: rgb(255, 255, 255);
    /*padding: 10px; */
    border-radius: 10px;
}

.conteneur > * {
    font-size: 4vw;
    line-height: 1.7;
    overflow-wrap: break-word;
    color: black;
    text-align: left;
    background-color: rgb(255, 255, 255);
}
.conteneur > h1 {
    font-size: 5vw;
    font-style: italic;
}
.difficulte {
    opacity: 0.8;
}
.conteneur > .technologie {
    background-color: rgb(185, 166, 203);
}

@media only screen and (min-width: 768px) {
    .flex-container > .menu {
        display: none;
    }
    body [class*="col-"] {
        width: auto;
        display: flex;
    }
    .conteneur{
        width: 65%;
        height: auto;
        margin: 50px auto 0 auto; /*top right down left*/
        background-color: rgb(255, 255, 255);
        /*padding: 10px; */
        border-radius: 10px;
    }
    .conteneur > * {
        font-size: 1.5vw;
    }
}